/* CSS style sheet for main page */

/* Include setup snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Define color theme as CSS variables for ease of referencing */
html{
    /* Using this palette */
    --white: #FFFFFF;   
    --paleMoon: #BAC1C0;
    --sandyGreen: #66879E;   
    --oceanBlue: #0C549A;
    --twilightPurple: #28184C;
    --grey: #504d4d;
    --dreamPink: #a55c7a;
    --dreamGreen: #0f726d;
    --mustard: #8C6E16;
}

/* Strip default margin and padding on all elements */
*{
    margin: 0;
    padding: 0;
}

/* Define general properties for body */
body{
    background: var(--twilightPurple) url(./assets/landscapeTwilightSvg.svg) no-repeat fixed;
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    color: var(--white);
    height: 100vh;
}

/* Define wrapper (to display optimal number of stories)*/
.wrapper{
    max-width: 1920px;
}

/* Wrapper to constraint add/read story content areas when maximized */
.altWrapper{
    max-width: 1440px;
}

.wrapper,
.altWrapper{
    width: 90%;
    margin: 0 auto;
}

/* Header properties (includes H1 and "Add a story" button" */
header,
.dreamBoard{
    display: flex;
}

header{
    justify-content: space-between;
}

.dreamBoard{
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* General formatting for all unordered lists */
ul{
    list-style-type: none;
}

/* SlideoutForm parent formatting */
.slideOutForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 30;
    position: fixed;
    top: 150px;
    right: -100%;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 150px);
    /* Ensures that this form is always above all stories on page */
    z-index: 500;
    transition: all 0.7s ease;
    background: var(--twilightPurple);
    color: var(--paleMoon);
    font-size: 2rem;
    overflow-y: auto;
}

/* Formatting for the form section within the slideOutForm class */
.slideOutForm form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.slideOutForm input, 
.slideOutForm textarea,
.slideOutForm button{
    background: var(--sandyGreen);
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: none;
    border: none;
}

.slideOutForm textarea{
    resize: none;
    height: 100%;
    min-height: 350px;
}

.slideOutForm textarea,
.slideOutForm input{
    transition: 0.7s border-left ease;
    color: var(--twilightPurple);
}

.slideOutForm button{
    color: var(--paleMoon);
    background: var(--oceanBlue);
    transition: 1.0s all ease;
}

.slideOutForm:focus-within input:invalid, 
.slideOutForm:focus-within textarea:invalid{
    border-left: 15px solid var(--dreamPink);
    outline:none;
    box-shadow: none;
}

.slideOutForm:focus-within input:valid, 
.slideOutForm:focus-within textarea:valid{
    outline:none;
    box-shadow: none;
}
.slideOutForm *:focus{
    outline: none;
}

.slideOutForm:focus-within input:focus, 
.slideOutForm:focus-within textarea:focus{
    border-width: 40px;
}

.slideOutForm button:hover{
    cursor: pointer;
    color: var(--twilightPurple);
    background: var(--paleMoon);
}

/* h2 text formatting for when user story form was successfully submitted */
.submitSuccessful{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Formatting for "Add a story" buton (equivalent to a hamburger menu) */
.addAStory{
    color: var(--mustard);
    font-size: 5rem;
    transition: 0.7s all ease;
    background: transparent;
    border: none;
}

/* Hover State for "Add a Story" */
.addAStory:hover,
.addAStory:focus{
    cursor: pointer;
    color: var(--dreamGreen);
}

/* Styles for the Slideout menu links */
nav input[type="checkbox"]:checked + .slideOutForm{
    right: 0;
}
nav input[type="checkbox"] {
    visibility: hidden;
}

/* End of hamburger menu section */

h1{
    color: var(--paleMoon);
    padding: 30px 0px;
    margin: 0;
    font-weight: 200;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    text-align: left;
}

h2, h3{
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-size: 2rem;
    font-weight: 300;
}

h3{
    font-weight: 200;
    font-size: 1.2rem;
}

footer{
    padding: 35px 0;
}

/* Formatting specifically for footer h3 */
footer h3{
    text-align: right;
}

/* General anchor tag formatting */
a{
    text-decoration: none;
}

/* Formatting for anchor tag specifically in the footer */
footer a{
    color: var(--sandyGreen);
    transition: 0.7s all ease;
}

/* Hover effects for anchor tag in the footer */
footer a:hover,
footer a:focus{
    color: var(--paleMoon);
}

/* Formatting for scrollbar */

.slideOutForm textarea,
.allStoriesSubContainer{
    scrollbar-color: var(--oceanBlue) var(--twilightPurple);
}

/* Sub-container to house all stories */
.allStoriesSubContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: calc(100vh - 250px);
    padding-right: 10px;
    overflow-y: auto;
}

/* Styling for each story's container */
li{
    position: relative;
    flex: 1 0 300px;
    padding: 15px;
    margin: 0 20px 20px;
    height: 300px;
    width: 300px;
    overflow: auto;
    font-size: 1.6rem;
    opacity: 0.85;
    background: var(--grey);
    box-shadow: 5px 0px var(--mustard);
    overflow: hidden;
    transition: 0.7s opacity ease;
 }

/* Additional properties for formatting the last story on the page */
li:nth-child(3n){
    flex: 1 0 500px;  
}

li:hover{
    opacity: 1;
}

/* Create a button overlay on top of the current story. This is used as an accurate target for click events to register the correct parent article and to maximize it */
.readMore{
    border: none;
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--mustard);
    color: var(--white);
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    transition: 1s all ease;
}

/* Renders an overlay "read more" button visible on hover over the li */
li:hover .readMore{
    cursor: pointer;
    display: block;
    opacity: 0.9;
    height: 62%;
}

/* Change the background color on the "read more" button hover */
.readMore:hover{
    opacity: 1;
    letter-spacing: 0.3rem;
    height: auto;
}   

/* Class for React to toggle to enable story to maximize on click */
.activeLi{
    position: absolute;
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    overflow: auto;
    opacity: 1;
    z-index: 400;
    scrollbar-color: var(--mustard) var(--grey);
}

/* Parent container for "minimize story" icon */
.titleBar{
    display: flex;
    justify-content: flex-end;
}

/* Styling properties for the minimize button*/
.minimizeBtn{
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    padding: 5px 15px 10px;
    border: 3px solid transparent;
    color: var(--white);
    background: var(--slateGrey);
    text-align: center;
    transition: 0.7s all ease;
}

.minimizeBtn:hover{
    cursor: pointer;
    background: var(--mustard);
    border-bottom-color: var(--slateGrey);
}

/* Properties for the story text container in each story */
.fullStory{
    padding: 12px 0;
}

/* Properties for the story text */
.fullStory p{
    padding-bottom: 250px;
    overflow: auto;
}

/* Stats container (for likes and dislikes) */
.stats{
    display: flex;
}

.stats .likesCount,
.stats .dislikesCount{
    padding-left: 10px;
}

.star,
.dislikes{
    padding: 7px 0 12px;
    width: 95px;
}

.starLogo, .xLogo{
    font-size: 2rem;
    opacity: 0.8;
    color: var(--white);
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

/* Hover state for star logo and x logo */
.starLogo:focus,
.xLogo:focus,
.starLogo:hover, 
.xLogo:hover{
    transition: 0.7s all ease;
    cursor: pointer;
    transform: scale(1.5);
}

/* Clicked color for star (for React to toggle) */
.starClicked{
    color: var(--mustard);
    opacity: 1;
}

/* Clicked color for x (for React to toggle) */
.xClicked{
    color: var(--dreamPink);
}

/* Media queries are primarily for styling sizing of stories for a visually interesting aymmetrical look */

/* Constrain last story <li> element to prevent it from being too wide */
@media(min-width: 1980px){
    li:nth-last-child(1){
        flex: 0 0 800px;
    }
}


@media(max-width: 1765px){
    li:nth-child(3n){
        flex: 1 0 300px;  
    }

    li:nth-child(4n){
        flex: 1 0 500px;  
    }
}

@media(max-width: 1525px){
    li:nth-child(2n){
        flex: 0 0 300px;  
    }

    li:nth-child(4n){
        flex: 1 0 500px;  
    }
}


@media(max-width: 1160px){
    li:nth-child(2n),
    li:nth-child(4n){
        flex: 1 0 300px;  
    }

    li:nth-child(3n){
        flex: 0 0 500px;  
    }
}


@media(max-width: 1020px){
    .wrapper{
        width: 100%;
    }

    header, 
    footer h3{
        width: 90%;
        margin: 0 auto;
    }

    li:nth-child(2n),
    li:nth-child(3n),
    li:nth-child(4n)
    {
        flex: 1 0 300px;  
    }

    li:nth-last-child(1){
        flex: 1 0 300px;  
        max-width: initial;
    }
}

@media(max-width: 500px){
    /* .slideOutForm{
        padding-bottom: 65px;
    } */

    .slideOutForm form{
       padding: 15px;
       margin-bottom: 65px;
    }
}

